[submodule "roguelike"]
path = roguelike
url = git@github.com:junyu0312/roguelike.git
[submodule "tdengine"]
path = tdengine
url = https://github.com/DelphinusLab/towerdefence-demo
[submodule "planet"]
	path = planet
	url = https://github.com/zkcrossteam/zk-planet
