.account-info-container{
    position: absolute;
    left: 89%;
    top: 4.5%;
    transform: translate(-50%, -50%);
    height: 10.56%;
    aspect-ratio: 405 / 117;
}

.account-info-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.account-info-account-text, .account-info-key-text, .account-info-player-id-text{
    position: absolute;
    /* text-align: center; */
    font-size: 35%;
    margin: 0;
    color: white;
    left: 2.5%;
    width: 95%;
    height: 25%;
    font-family: "mishmash";
    color: #5CFFFF;
    white-space: break-spaces;
}

.account-info-account-text{
    top: 25%;
}

.account-info-key-text{
    top: 50%;
}

.account-info-player-id-text{
    top: 75%;
}