.creature-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 90px;
}

.creature-background {
    position: absolute;
    width: 72px;
    height: 86px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.creature-selecting-image {
    position: absolute;
    width: 72px;
    height: 82px;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0);
}

.creature-image-background, .creature-image {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
}

.creature-image {
    filter: brightness(0) contrast(100);
}

.creature-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    width: 50px;
    height: 10px;
    font-family: "mishmash";
    color: #5CFFFF;
    pointer-events: none;
}

.creature-lock-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 86px;
}