.creature-unlock-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.creature-unlock-popup-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.creature-unlock-popup-main-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 283px;
    height: 143px;
}

.creature-unlock-popup-main-background {
    width: 100%;
    height: 100%;
}

.creature-unlock-popup-main-creature-image {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    filter: brightness(0) contrast(100);
}

.creature-unlock-popup-main-creature-text {
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    overflow: auto;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    width: 80px;
    height: 15px;
    font-family: "mishmash";
    color: #5CFFFF;
    pointer-events: none;
}

.creature-unlock-popup-unlock-button {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.creature-unlock-popup-resource-grid{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 81px;
    top: 37%;
    left: 69%;
}