
.gain-common-resource-container {
    position: absolute;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
}

.gain-common-resource-animation-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gain-common-resource-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gain-common-resource-amount-animation-container {
    position: absolute;
    width: 40px;
    height: 12px;
    top: 45px;
    transform: translate(-50%, -50%);
}