.main-bot-program-container {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.main-bot-program-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}