.main-progress-bar-container {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-progress-bar-background {
    width: 100%;
    height: 100%;
}

.main-progress-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-progress-bot-image {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-progress-bar-program-name-text {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    color: black;
    width: 70%;
    height: 15px;
    font-family: "mishmash";
    pointer-events: none;
}

.main-progress-bar-program-processing-time-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    color: black;
    width: 55%;
    height: 10px;
    font-family: "mishmash";
    pointer-events: none;
}

.main-progress-sector {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes progressFrames {
    0% { background-image: url('../images/Animations/Waves/wave1.png'); }
    12.5% { background-image: url('../images/Animations/Waves/wave2.png'); }
    25% { background-image: url('../images/Animations/Waves/wave3.png'); }
    37.5% { background-image: url('../images/Animations/Waves/wave4.png'); }
    50% { background-image: url('../images/Animations/Waves/wave5.png'); }
    62.5% { background-image: url('../images/Animations/Waves/wave6.png'); }
    75% { background-image: url('../images/Animations/Waves/wave7.png'); }
    87.5% { background-image: url('../images/Animations/Waves/wave8.png'); }
    100% { background-image: url('../images/Animations/Waves/wave1.png'); }
}

.main-progress-sector-top {
    height: 14px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: progressFrames 0.7s steps(4) infinite;
}

.main-progress-sector-repeat {
    position: absolute;
    top: 14px;
    width: 100%;
    height: round(down, calc(100% - 14px), 1px);
    background-image: url('../images/MainMenu/progress.png');
    background-repeat: repeat-Y;
    background-size: contain;
}