.program-container {
    position: relative;
    width: 85px;
    height: 92px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.program-name-text {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    width: 90%;
    height: 8px;
    font-family: "mishmash";
    color: white;
    pointer-events: none;
}

.program-time-text {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    text-align: center;
    line-height: 100%;
    margin: 0px;
    width: 90%;
    height: 8px;
    font-family: "mishmash";
    color: white;
    pointer-events: none;
}

.program-resource-grid{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 56px;
    top: 59%;
    left: 50%;
    pointer-events: none;
}