.program-resource-display-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 14px;
}

.program-resource-display-image {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

.program-resource-display-positive-text, 
.program-resource-display-zero-text, 
.program-resource-display-negative-text {
    position: absolute;
    top: 50%;
    left: 16.5px;
    transform: translate(-50%, -50%);
    font-size: 7px;
    text-align: center;
    line-height: 7px;
    margin: 0px;
    width: 13px;
    height: 7px;
    font-family: "mishmash";
}

.program-resource-display-positive-text {
    color: rgb(85, 221, 85);
}

.program-resource-display-zero-text{
    color: white;
}

.program-resource-display-negative-text {
    color: rgb(220, 36, 36)
}