.right {
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../images/backgrounds/bg.png');
    z-index: 5;
}

.right-top, .right-middle, .right-bottom {
    width: 190px;
    background-size: contain;
}

.right-top {
    height: 190px;
    background-image: url('../images/backgrounds/right_top.png');
    background-repeat: no-repeat;
}

.right-middle {
    flex-grow: 1;
    background-image: url('../images/backgrounds/right_mid.png');
    background-repeat: repeat-y;
}

.right-bottom {
    height: 190px;
    background-image: url('../images/backgrounds/right_bottom.png');
    background-repeat: no-repeat;
}

.right-program-grid{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    height: calc(100% - 150px);
    top: 50%;
    left: 55%;
}

.right-page-number-position{
    position: absolute;
    bottom: 8px;
    left: 105px;
}

.right-up-button-position{
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.right-down-button-position{
    position: absolute;
    bottom: 20px;
    left: 150px;
}

.right-corner-bar {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0px;
    left: -2px;
}