.right {
    width: calc(round(down, calc(20vh) / 11, 1px) * 19);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-image: url('../images/backgrounds/bg.png');
}

.right-top, .right-middle, .right-bottom {
    width: 100%;
    background-size: contain;
}

.right-top {
    height: fit-content;
    aspect-ratio: 1 / 1;
    background-image: url('../images/backgrounds/right_top.png');
    background-repeat: no-repeat;
}

.right-middle {
    flex-grow: 1;
    background-image: url('../images/backgrounds/right_mid.png');
    background-repeat: repeat-y;
}

.right-bottom {
    height: fit-content;
    aspect-ratio: 1 / 1;
    background-image: url('../images/backgrounds/right_bottom.png');
    background-repeat: no-repeat;
}

.right-program-grid{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    height: calc(100% - 150px);
    top: 50%;
    left: 55%;
}

.right-page-number-position{
    bottom: calc(5.5% - 25px);
    left: 55%;
}

.right-up-button-position{
    bottom: calc(5.5% - 25px);
    left: 30%;
}

.right-down-button-position{
    bottom: calc(5.5% - 25px);
    left: 80%;
}

.right-corner-bar {
    position: absolute;
    bottom: 0px;
    left: -4px;
    height: 10.9vh;
    aspect-ratio: 1 / 1;
    z-index: 9;
}