.tiny-resource-display-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23px;
    height: 11px;
}

.tiny-resource-display-image {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

.tiny-resource-display-text {
    position: absolute;
    top: 50%;
    left: 16.5px;
    transform: translate(-50%, -50%);
    font-size: 4px;
    text-align: center;
    line-height: 4px;
    margin: 0px;
    color: white;
    width: 13px;
    height: 4px;
    font-family: "mishmash";
}