.top {
    height: calc(round(down, calc(20vh) / 11, 1px) * 11);
    min-height: calc(round(down, calc(20vh) / 11, 1px) * 11);
    width: 100%;
    display: flex;
    font-size: 24px;
    z-index: 10;
}

.top-left, .top-right, .top-middle {
    height: 100%;
    background-size: contain;
}

.top-left {
    width: fit-content;
    background-image: url('../images/backgrounds/top_left.png');
    background-repeat: no-repeat;
    aspect-ratio: 48 / 11;
}

.top-right {
    width: fit-content;
    background-image: url('../images/backgrounds/top_right.png');
    background-repeat: no-repeat;
    aspect-ratio: 48 / 11;
}

.top-middle {
    flex-grow: 1;
    background-image: url('../images/backgrounds/top_mid.png');
    background-repeat: repeat-x;
}