.main-progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-progress-bar-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-progress-container {
    position: absolute;
    width: 72.8%;
    height: 65.3%;
}

.main-progress-sector {
    position: absolute;
    height: 100%;
    background-image: url('../images/progress.png');
    background-repeat: repeat-x;
}

.main-progress-bar-cover {
    position: absolute;
    width: 59%;
    height: 8%;
    top: 25%;
}