.main-background {
    width: calc(100% - 191px * 2);
    flex: 1;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    top: -50px;
    height: calc(100% + 50px);
}

.main-content {
    height: 90%;
    width: fit-content;
    min-height: 500px;
    min-width: 500px;
    max-height: min(90%, calc((100vw - 191px * 2) * 0.9));
    aspect-ratio: 1 / 1;
    background-color: lightblue;
    position: relative;
}

.main-circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-display-image
{
    position: absolute;
    width: 25.56%;
    height: 25.56%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-button-image{
    position: absolute;
    width: 15.6%;
    height: 14.8%;
    bottom: 14%;
    left: 2%;
}
