.main-arrow-container {
    position: absolute;
    top: 34.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 8%;
}

.main-arrow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
}