.main {
    width: calc(100% - 191px * 2);
    flex: 1;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    top: -50px;
    height: calc(100% + 50px);
}

.square {
    height: 90%;
    width: fit-content;
    max-height: 90%;
    max-height: 600px;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    background-color: lightblue;
}
