.page-number-background {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 25px;
}

.page-number-text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 25px;
    margin: 0px;
    color: white;
    width: 56px;
    height: 25px;
    font-family: "mishmash";
    color: #5CFFFF;
}