div.game-container {
  max-width: 1400px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: 50px;
  background-size: contain;
}

div.hp {
}


div.enemy-move {
  background-color: white;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}


