div.game-container {
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 30px;
  background-size: contain;
  padding-top: 20px;
}

div.pickable-card {
  font-size: 12px;
}

div.status {
  display: flex;
  align-itmes: stretch;
  div.title {
    color: white;
    font-size: 14px;
    flex-grow:0;
    width: 30px;
  }
  div.progress {
    margin-top: 3px;
    margin-left: 5px;
    flex-grow:1;
  }
}



div.enemy-move {
  background-color: white;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}


