body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  height: 100%;
  background-size: cover;
  background-position: center;

   /* Apply grayscale filter */
}
div.center {
    position: absolute;
    width: 960px;
    height: 540px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
canvas {
  border: 0px solid gray;
  display: block; /* Removes the default inline spacing for canvas */
}

div.stage-buttons {
  position: absolute;
  left: 300px;
  top: 460px;
  .button1 {
    display: inline-block;
    height:70px;
    width:70px;
    background-color: blue;
  }
  .button2 {
    margin-left:15px;
    display: inline-block;
    height:70px;
    width:70px;
    background-color: blue;
  }
  .button3 {
    margin-left:15px;
    display: inline-block;
    height:70px;
    width:70px;
    background-color: blue;
  }
  .button4 {
    margin-left:15px;
    display: inline-block;
    height:70px;
    width:70px;
    background-color: blue;
  }
}
