.navbar {
  background-color: var(--navbar-bg);
  border: none;
  color: var(--blue-text-color) !important;
  padding-top: 0px;
  padding-bottom: 0px;

  .navbar-collapse {
    @media (min-width: 992px) {
      flex-grow: 0;
    }
  }

  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    color: #795f51;
    font-family: "Impact"
  }
  .navbar-text {
    font-family: "Allerta";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--blue-text-color) !important;
    margin-left: 10px;
  }
  .nav-link {
    border: none;

    font-family: "Allerta";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: var(--blue-text-color) !important;
    transition: 0.3s all ease;
    margin-left: 10px;


    &:hover,
    &:focus {
      background-image: none;
      border: none;
      background-color: var(--button-hover);
    }
  }
  .divider {
    border-left: 2px solid #546f80;
    height: 30px;
    margin: auto 10px;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .action-items {
    width: 500px;
  }

  .restart-button {
    cursor: pointer;
    &:hover {
      filter: brightness(0) saturate(100%) invert(98%) sepia(31%) saturate(396%)
        hue-rotate(312deg) brightness(103%) contrast(89%);
    }
  }
}

.history {
 padding: 20px;
 background-color:#ebdbb2;
}

.history-table {
  font-family: "Verdana";
  font-style: normal;
  line-height: 23px;
  text-align: center;
  th {
    font-size: 14px;
    font-weight: 200;
    color:#ebdbb2;
    div {
        background-color: #83a598;
        margin:1px;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
  }
  td {
    color: #795f51;
    div {
        background-color: #d5c4a1;
        margin:1px;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
  }
  td {
    font-size: 10px;
  }
  .Done {
    background: #b8bb26
  }
}
