.guide-popup-1-content-title {
    position: absolute;
    top: 15%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    overflow: auto;
    text-align: left;
    line-height: 100%;
    margin: 0px;
    width: 50%;
    height: 10%;
    font-family: "mishmash";
    color: #5CFFFF;
    pointer-events: none;
}

.guide-popup-1-content-text {
    position: absolute;
    top: 45%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    overflow: auto;
    text-align: left;
    line-height: 100%;
    margin: 0px;
    width: 46%;
    height: 55%;
    font-family: "mishmash";
    color: white;
    pointer-events: none;
}

.guide-popup-1-image {
    position: absolute;
    width: 170px;
    height: 310px;
    left: 25%;
    top: 41%;
    transform: translate(-50%, -50%);
}